.cac_2019{
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
}
/*战队信息 start*/
.cac_con{
    width: 3016px;
    overflow: hidden;
}
.cac_box{
    position: relative;
    width: 1507px;
    height: 1733px;
    float: left;
}
.team_logo img{
    width: 561px;
}
.gap{
    float: left;
    width: 2px;
    height: 1733px;
    background: #000;
}
.cac_L{
    background: url("../img/teamBg_L.jpg") no-repeat center;
}
.cac_R{
    background: url("../img/teamBg_R.jpg") no-repeat center;
}
.team_logo{
    position: absolute;
    z-index: 100;
    width: 896px;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cac_L .team_logo,
.cac_L .missile{
    right: 140px;
}
.cac_R .team_logo,
.cac_R .missile{
    left: 140px;
}
.missile{
    position: absolute;
    top: 649px;
    width: 896px;
    height: 302px;
    z-index: 100;
}
.missible_num{
    width: 100%;
    height: 90px;
}
.cac_L .missible_num{
    background: url("../img/bar_L.png") no-repeat center;
}
.cac_R .missible_num{
    background: url("../img/bar_R.png") no-repeat center;
}
.missible_num div{
    width: 115px;
    height: 90px;
    line-height: 90px;
    color: #fff;
    float: left;
    font-size: 49px;
    text-align: right;
}
.cac_box div.missible_num div span{
    display: inline-block;
    float: left;
}

.cac_L div.missible_num div span.svg_img{
    background-color: #45e7a8;

}
.cac_R div.missible_num div span.svg_img{
    background-color: #f8b53e;
}
.cac_box div.missible_num span.svg_img{
    width: 35px;
    height: 90px;
    -webkit-mask-size: 120%;
    mask-size: 120%;
}
div.missible_num1{
    margin-left: 150px;
}
div.missible_num1 .svg_img{
    -webkit-mask: url('../svg/weapon_smokegrenade.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_smokegrenade.svg') no-repeat 50% 50%;
}
div.missible_num2{
    margin-left: 67px;
}
div.missible_num2 .svg_img{
    -webkit-mask: url('../svg/weapon_flashbang.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_flashbang.svg') no-repeat 50% 50%;
}
div.missible_num3{
    margin-left: 69px;
}
div.missible_num3 .svg_img{
    -webkit-mask: url('../svg/weapon_hegrenade.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_hegrenade.svg') no-repeat 50% 50%;
}
div.missible_num4{
    margin-left: 65px;
}
div.missible_num4 .svg_img{
    -webkit-mask: url('../svg/weapon_incgrenade.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_incgrenade.svg') no-repeat 50% 50%;
}




div.missible_num5{
    margin-left: 100px;
}
div.missible_num5 .svg_img{
    -webkit-mask: url('../svg/weapon_smokegrenade.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_smokegrenade.svg') no-repeat 50% 50%;
}
div.missible_num6{
    margin-left: 60px;
}
div.missible_num6 .svg_img{
    -webkit-mask: url('../svg/weapon_flashbang.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_flashbang.svg') no-repeat 50% 50%;
}
div.missible_num7{
    margin-left: 65px;
}
 div.missible_num7 .svg_img{
    -webkit-mask: url('../svg/weapon_hegrenade.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_hegrenade.svg') no-repeat 50% 50%;
}
 div.missible_num8{
    margin-left: 50px;
}
div.missible_num8 .svg_img{
    -webkit-mask: url('../svg/weapon_molotov.svg') no-repeat 50% 50%;
    mask: url('../svg/weapon_molotov.svg') no-repeat 50% 50%;
}
.score{
    width: 100%;
    height: 211px;
    line-height: 211px;
    color: #fff;
    font-size: 201px;
    text-align: center;
    text-shadow: 0 0 0.03em #fff,
    0 0 0.03em #fff;
    font-family: "zq";
}
.cac_L .score{
    background: url("../img/color_L.png") no-repeat right center;
}
.cac_R .score{
    background: url("../img/color_R.png") no-repeat left center;
}
.video_L,.video_R{
    position: relative;
    z-index: 10;
}
/*战队信息 over*/

/*爆炸 start*/
.video-show{
    position: absolute;
    top: 0px;
    z-index: 1000000;
    width: 3016px;
    height: 1733px;
    display: none;
}

/*爆炸 over*/

/*钳子 start*/
/*钳子 over*/

/*四杀五杀 start*/
.killer{
    position: absolute;
    top: 0px;
    z-index: 1000000;
    width: 3016px;
    height: 1733px;
    display: none;
    background: url("../img/killer_bg.png") no-repeat center;
}
.kill_P{
    position: relative;
    float: left;
    width: 954px;
    height: 1180px;
    margin-top: 144px;
}
.kill_P img.kill_img{
    display: block;
    width: 920px;
    margin: 0px auto;
}
.kill_L.kill_P{
    margin-left: 438px;
    margin-right: 238px;
}
.k_bot{
    width: 954px;
    height: 471px;
    position: absolute;
    bottom: 0px;
}
.k_bot.four_k{
    background: url("../img/4kills.png") no-repeat center bottom;
}
.k_bot.five_k{
    background: url("../img/5kills.png") no-repeat center bottom;
}
.kill_name{
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 37px;
    font-size: 60px;
    font-family: "zq";
    font-style: italic;
}
/*四杀五杀 over*/
